<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">example</p>
          <a routerLink="laptop" class="btn btn-danger">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hard-disk</h5>
          <p class="card-text">example</p>
          <a routerLink="laptop" class="btn btn-danger">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">example</p>
          <a routerLink="laptop" class="btn btn-danger">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">WashingMachine</h5>
          <p class="card-text">example</p>
          <a routerLink="laptop" class="btn btn-danger">Know More</a>
        </div>
      </div>
    </div>
  </div>
  
</div>