<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">example</p>
          <a routerLink="laptop" class="btn btn-danger">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hard-disk</h5>
          <p class="card-text">example</p>
          <a routerLink="laptop" class="btn btn-danger">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">example</p>
          <a routerLink="laptop" class="btn btn-danger">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-ng-content-call></app-ng-content-call>
    </div>
  </div>
</div>
