<div class="container">
  <div class="row">
    <!-- <div class="row">
    <div class="col-md-6">
      <app-ng-content-call></app-ng-content-call>
    </div>
    <div class="col-md-6">
      <app-ng-content-call></app-ng-content-call>
    </div>
    <div class="col-md-6">
      <app-ng-content-call></app-ng-content-call>
    </div>
    <div class="col-md-6">
      <app-ng-content-call></app-ng-content-call>
    </div>
  </div> -->
    <div class="col-md-4">
      <app-ng-content-call>
        <h5 class="card-title">Washing Machine</h5>
        <a routerLink="Machine" class="btn btn-danger">Know More</a>
      </app-ng-content-call>
    </div>
    <div class="col-md-4">
      <app-ng-content-call>
        <h5 class="card-title">Mobile</h5>
      </app-ng-content-call>
    </div>
    <div class="col-md-4">
      <app-ng-content-call>
        <h5 class="card-title">Laptop</h5>
      </app-ng-content-call>
    </div>
    <div class="col-md-4">
      <app-ng-content-call>
        <h5 class="card-title">Television</h5>
      </app-ng-content-call>
    </div>
  </div>
</div>
